<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:label="Dark Keyboard"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher">

        <service
            android:name=".DarkIME"
            android:label="Dark Keyboard"
            android:exported="true"
            android:directBootAware="true"
            android:theme="@style/InputMethodServiceTheme"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

    </application>
</manifest>
